{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to Holiday Manager</h1>
    {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% elif session.get('role') == 0 %}
    <p class="lead">Congratulations! You have successfully registered to the application, please wait until
        an administrator provides you the necessary accesses! Thank you</p>
    {% endif %}

</div>
{% endblock %}